4.5/ASP.NET Playground/bin/ASP.NET Playground.dll
4.5/ASP.NET Playground/bin/ASP.NET Playground.pdb
4.5/ASP.NET Playground/obj/Debug/ASP.NET Playground.csproj.FileListAbsolute.txt
4.5/ASP.NET Playground/obj/Debug/ASP.NET Playground.csprojResolveAssemblyReference.cache
4.5/ASP.NET Playground/obj/Debug/ASP.NET Playground.dll
4.5/ASP.NET Playground/obj/Debug/ASP.NET Playground.pdb
4.5/ASP.NET Playground/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
4.5/ASP.NET Playground/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
4.5/ASP.NET Playground/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
4.5/ASP.NET Playground/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
